<html>

  <head>
    <title>Vky's Blog</title>
  </head>

  <body>

    <h1>Know more about Vky</h1>
    <p>You are watching it because you are alive!</p>

    <h2>Important Dates</h2>
    <p><i>November 14, 2019</i> - Vky's 28th Birthday and ... ehmmm ;-)</p>

    <h2>Links</h2>
    <p>Here is a link to
      <%= link_to 'Home', root_path %>
    </p>

  </body>

</html>